body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
}
.no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select:none;
    user-select: none;
}
.text-center {
    text-align: center;
}
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.nice-link {
    color: #005fee;
    text-decoration: none;
}
.nice-link:hover {
    animation: blink 1s infinite alternate;
    text-decoration: none;
}
@keyframes blink
{
	from {
		color: #005fee;
	}
	to {
		color: cyan;
	}
}
.bold-text {
    font-weight: bold;
}
.container {
    margin-left: 50px;
    margin-top: 20px;
}