body {
  	color: #600367;
	background-color: black;
	margin: 0;
	height: 100%;
	overflow:hidden;
	font-family: "Courier New", Courier, monospace;
}
.title {
	text-shadow: 3px 3px 3px;
	text-align: center;
	position: absolute;
	left: 0;
	top: 20%;
	width: 100%;
	animation: stretch 2s alternate infinite;
	animation-delay: 1s;
	font-size: 250%;
	letter-spacing: 10px;
	background-color: black;
	z-index: 1;
}
.box {
	display: flex;
	flex-direction: row;
	top: 70%;
	position: absolute;
}
.box ul::before {
	content: "[";
}
.box ul::after {
	content: "]";
}
#about {
	color: orange;
	margin-left: 50%;
	margin-right: 50%;
	filter: blur(1px);
	z-index: 0;
}
a {
	text-decoration: none;
  	cursor: hand;
	font-weight: bold;
	animation: blink 5s alternate infinite;
}
a:hover {
	background-color: transparent;
	text-shadow: 1px 1px purple;
}
@keyframes blink {
	0% {
		color: #600367;
	}
    25% {
    	color: #F88CA1;
    }
    26% {
    	color: #600367;
    }
    27% {
    	color: #F88CA1;
    }
    28% {
    	color: #600367;
    }
    29% {
    	color: #F88CA1;
    }
    30% {
    	color: #600367;
    }
	100% {
		color: #600367;
	}
}
@keyframes stretch {
	to {letter-spacing: 8px; text-shadow: 2px 2px 3px;}
}