html, body {
    background-color: #000000;
    color: white;
    font-family: "Courier New", Courier, monospace;
}
.cubes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cubes a {
    margin: 3%;
}
#cube2 {
    animation-timing-function: ease-in-out;
}
#cube3 {
    animation-timing-function: ease-in;
}
.cube {
    position: relative;
    animation-name: spawn;
    animation-duration: 1s;

    background-color: #C4C4C4;
    width: 300px;
    height: 300px;
    top: 200px;
    transition: 0s;
    box-shadow: black 10px 10px 10px;
    display: flex;
    color: black;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
.cube:hover {
    background-color: white;
    transition: .5s;
    box-shadow: black 10px 10px 0px;
    cursor: pointer;
}
.cube p {
    display: flex;
}
@keyframes spawn {
    from {
        top: -300px;
    }
    to {
        top: 200px;
    }
}