body {
    background-color: #1b1b1b;
    color: white;
    font-family: "Courier New", Courier, monospace;
}
.cubes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cubes a {
    margin: 3%;
}
#cube2 {
    animation-timing-function: ease-in-out;
}
#cube3 {
    animation-timing-function: ease-in;
}
.cube {
    position: relative;
    animation-name: spawn;
    animation-duration: 1s;

    background-color: #C4C4C4;
    width: 300px;
    height: 300px;
    top: 200px;
    transition: 0s;
    box-shadow: black 10px 10px 10px;
}
.cube:hover {
    background-color: white;
    transition: .5s;
    box-shadow: black 10px 10px 0px;
    cursor: pointer;
}
.cube:hover + .float {
    bottom: 150px;
    animation-name: textFloat;
    animation-duration: 0.7s;
}
.float {
    bottom: -300px;
    position: fixed;
    z-index: 1;
    font-size: 70px;
    font-family: "Courier New", "Courier", "monospace";
    font-weight: bold;
    text-shadow: #7D7A7A 7px 10px 0px;
}
@keyframes spawn {
    from {
        top: -300px;
    }
    to {
        top: 200px;
    }
}
@keyframes textFloat {
    from {
        bottom: -300px;
    }
    to {
        bottom: 150px;
    }
}
html, body {
    background-image: url('/assets/space2.png');
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.cube p {
    display: none;
}
@media screen and (max-width: 700px) and (min-width: 0px), (max-height: 830px) and (min-height: 0px){
    .cube {
        display: flex;
        color: black;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
    }
    .cube:hover {
        text-decoration: none;
    }
    .cube p {
        display: flex;
    }
    .float {
        display: none;
    }
}  