.center {
  text-align: center;
}
.box {
  padding: 50px;
  box-shadow: #243156 5px 5px 0px 5px;
  margin: 20px;
}
.long-link{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block
}
body {
  background-color: #0b132b;
  color: #c6cee7;
}
.box {
  background-color: #1c2541;
}
a {
  color: #399391;
  text-decoration: none;
}
span {
  font-weight: bold;
  color: #5bc0be;
}