body {
  background-color: black;
}
a {
  color: white;
  text-decoration: none;
}
#gradient-box {
  height: 50px;
  background-image: linear-gradient(to right, cyan,blue,purple);
}
.list {
  width: max-content;
  color: white;
  font-size: 40px;
}
.entry{
  margin: 10px 0px 10px 0px;
}
.about {
  display: none;
  font-size: 20px;
}
.list:hover a {
  opacity: 0.5;
  transition: 0.5s;
}
.list > .entry:hover a{
  opacity: 1;
  background-color: white;
  font-weight: bolder;
  color: black;
  width: max-content;
  padding: 5px 10px 0px 10px;
  border-radius: 5px;
  transition: 0.2s;
}
.list > .entry:hover .about{
  font-weight: bolder;
  color: white;
  display: block;
  transition: 0.2s;
}