body {
  color: #600367;
	background-color: black;
	font-family: "Courier New", Courier, monospace;
	cursor: url(/Assets/Cursors/cursor.gif), default;
	margin: 0;
	height: 100%;
	overflow:hidden;
}
.title {
	text-shadow: 3px 3px 3px;
	text-align: center;
	position: absolute;
	left: 0;
	top: 20%;
	width: 100%;
	animation: shadow 2s alternate infinite;
	animation-delay: 2s;
	font-size: 250%;
	letter-spacing: 10px;
	background-color: black;

}
@KeyFrames shadow {
	to {letter-spacing: 8px; text-shadow: 2px 2px 3px;}
}
.box {
	display: flex;
	flex-direction: row;
	top: 70%;
	position: absolute;
}
a {
	text-decoration: none;
  cursor: hand;
  font-weight: bold;
}
#about {
	color: orange;
	margin-left: 50%;
	margin-right: 50%;
}
.noselect {
	user-select:none;
	-ms-user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
}
a {
	animation: blink 5s alternate infinite;
}
a:hover {
	background-color: transparent;
	text-shadow: 1px 1px purple;
}
@KeyFrames blink {
	0% {
		color: #600367;
	}
    25% {
    	color: #F88CA1;
    }
    26% {
    	color: #600367;
    }
    27% {
    	color: #F88CA1;
    }
    28% {
    	color: #600367;
    }
    29% {
    	color: #F88CA1;
    }
    30% {
    	color: #600367;
    }
	100% {
		color: #600367;
	}
}