@KeyFrames blink
{
	from {
		color: #039be5;
	}
	to {
		color: cyan;
	}
}
body 
{
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 18px;
	text-align: left;
	background-color: black;
  color: white;
  background-image: url(/assets/image-reversing2.gif);
  display: flex;
	flex-direction: column;
}
.url
{
	word-wrap: break-word;
	overflow-wrap: normal;
	display: flex;
	flex-direction: row;
	margin:10px 0px 10px 10px;
	text-decoration: none;	
	color: #039be5;
}
.url a:hover 
{
  animation: blink 0.6s infinite alternate;
}
.entry img 
{
  margin-right: 10px;
}
#title 
{
 text-align: center; 
}
img 
{
  user-select: none;
}
.list 
{
  margin: 0px 50px 0px 50px;
	padding: 70px 100px 50px 100px;
	background-color: black;
	border-radius: 50px;
  box-shadow:  20px 20px 60px #000000, 
             -20px -20px 60px #000000;
}
.elevator-button:hover
{
  cursor: pointer;
}
.elevator-button 
{
  position: fixed;
  width: 36px;
  height: 36px;
  background-image: url(/assets/noise.gif);
  background-color: white;
}
