body {
    background-color: #252526;
    user-select: none;
}
.important-number {
    background-color: #767676;
    color: white;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 50px;
}