#emoticons table tr td {
	font-size: 30px;
}
body {
  background-image: url(/assets/image-reversing2.gif);
}
#emoticons table {
	background-color: white;
	background-image: none;
}
#emoticons ul {
	list-style-type: none;
	height: 70px;
}
#emoticons li {
float: left;
}
#emoticons ul a {
line-height: 70px;
text-decoration: none;
font-size: 16px;
}
a {
  background-color: white;
  color: black;
  padding: 10px;
}